*{
    padding:0;
    margin:0;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 1.5rem;
    text-align: center;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;;
    height:25rem;
    width:20rem;
}
.input-field{
    margin:1rem;
    display: flex;
    flex-direction: column;
}
.input-field{
    text-align: left;
}
.input-field span{
    font-size: 1.1rem;
    margin:0.3rem;
   font-family:arial;
   color:rgb(92, 92, 92);
}
.container h2{
    
    border-bottom: 1px solid silver;
}
input{
    padding:0.3rem;
border:none;
border-radius: 0.3rem;
border-bottom:1px solid rgb(141, 141, 141);

}
input:focus{
    outline: none;
}
.submit{
    background-color: green;
    color:white;
    border:none;
    padding:0.5rem;
    font-size: 1.1rem;

}
#login{
font-size: 1.1rem;
color:rgb(94, 94, 94);
}
#login a{
    margin-left: 3px;
    color:rgb(15, 45, 243);
    font-weight: bold;
    border-bottom: 1px solid rgb(15, 45, 243);
}
#home{
   display: flex;
   justify-content: center;
  
    
}
#contact{
    text-align: center;

}

.nav-bar{
   
    height: 10vh;
    width:100%;
    background-color: #282c34;
    color:red;
    display:flex;
    justify-content:center;
    align-items: center;
   
}
.nav-link{
    text-decoration: none;
    color:white;
    font-size: 1rem;
   font-family: monospace;
 
    margin:2rem;
}
.nav-link:hover{
    color:red;
}

/* .nav-bar .active{
    color:red;
    border-bottom: 2px solid red;
} */


.register{
    background-color: green;
    padding:0.5rem;
}
.register:hover{
    color:white;
}
.login:hover{
    color:white;
}
.login:active{
    border-bottom:none;
    color:white;
}

.login{
    background-color: rgb(5, 51, 202);
    padding:0.5rem;
}








/* mobile navbar is starting from here */
.nav-bar1{
    height: 100vh;
    width:100%;
   position: fixed;
    background-color: white;
   transform: translateX(-100%);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.trans{
    transform: translateX(0);
    transition: all 0.5s;
}
.tran{
   
    transition: all 0.5s;
}
.nav-link1{
    text-decoration: none;
    color:black;
    font-size: 1rem;
   font-family: monospace;
 
    margin:2rem;
}
.register1{
    background-color: green;
    padding:0.5rem;
    color:white;
}
.register1:hover{
    color:white;
}
.login1:hover{
    color:white;
}
.login1{
    background-color: rgb(5, 51, 202);
    padding:0.5rem;
    color:white;
}

.nav2{
   
    width:100%;
    height: 10vh;
    display: flex;
    background-color: #282c34;
   
    display: none;
}
#menu{
    color:white;
    font-size: 1.3rem;
    margin-right: 2rem;
    margin-top: 0.7rem;
}

#cross{
    position: absolute;
    top:1.5rem;
    right:2rem;
    font-size: 1.3rem;
    font-weight: 800;
    
}



/* mobile navbar is ending here */








/* respoonsive is starting from here */
@media only screen and (max-width:450px){
.nav-bar{
   display: none;
}
  .nav2{
 display: block;
 text-align: right;
  
}
.nav-bar1{
    top:0;
}
}